[Unit]
Description=Gandi DDNS Client
After=network-online.target
Wants=network-online.target

[Service]
Type=notify-reload
ExecStart=java -jar /opt/gandi-ddns/target/gandi-ddns-0.0.1-SNAPSHOT.jar
User=gandi-ddns
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=default.target